<ul>
  <li>
    <a href="#about">Über mich</a>
  </li>
  <li>
    <a href="#kleintierpraxis">Kleintierpraxis</a>
  </li>
  <li>
    <a href="#gluecks-schmid">Glücks-Schmid</a></li>
  <li>
    <a href="#windwerk">Windwerk</a></li>
  <li>
    <a href="#weihnachten-bei-windwerk">Weihnachten bei Windwerk</a></li>
  <li>
    <a href="#dialogic">Dialogic</a></li>
  <li>
    <a href="#spitzentraum">Spitzentraum</a></li>
  <li>
    <a href="#inu">Inu</a></li>
  <li>
    <a href="#tierwohl">Tierwohl</a></li>
  <li>
    <a href="#4-my-horse">4my.horse</a></li>
  <li>
    <a href="#zambail">Zambail</a></li>
  <li>
    <a href="#ctc-consulting">CTC Consulting</a></li>
  <li>
    <a href="#akari">Akari</a></li>
  <li>
    <a href="#cattails-2">Cattails 2</a></li>
  <li>
    <a href="#the-wandering-village">The Wandering Village</a></li>
</ul>
